body {
    margin: 0 !important;
    font-family: 'Courier Prime';
    width: 100vw;
    overflow-x: hidden !important;
}
body::-webkit-scrollbar {
    width: 0.5em;
    border-radius: 50%;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.align-item-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.d-flex {
    display: flex;
}
.item-centering {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-banner {
    height: 100vh;
    width: 100%;
    /* background-image: url('../assets/images/gloam-background-only.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.center-section {
    flex-wrap: wrap;
}
.jack-image {
    width: 100%;
}
.jack-img-class {
    width: 28vw;
    margin: 0px;
    margin-left: -16vw;
    animation: waveUpDown 2s infinite alternate;
}
.img-class {
    width: 100%;
    margin: 0px !important;
}
.sigil-text {
    width: 100%;
}
.sigil-logo {
    width: 100%;
    margin-top: -20%;
}
.head-right {
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -8vw;
}
.banner-head-text {
    font-size: 28px;
    width: 100%;
    font-weight: 800;
    color: #fff;
    text-align: center;
}
.banner-sub-text {
    font-size: 22px;
    width: 100%;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-top: 0px;
}

.second-banner {
    min-height: 100vh;
    width: 100%;
    /* background-image: url('../assets/images/background-sigil-multiverse.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.mobile-image {
    width: 22vw;
    margin: 0px;
}
.mobile-icon {
    width: 100%;
}
.mobile-side {
    width: 30vw;
    margin-left: 10vw;
    color: #fff;
    display: flex;
    justify-content: flex-end;
}
.mobile-sub-div {
    width: 18vw;
}
.mobile-head {
    font-size: 35px;
    text-align: center;
}
.mobile-sub-head {
    font-size: 22px;
    text-align: center;
    letter-spacing: 0.2vw;
}
.third-banner {
    height: 100vh;
    width: 100%;
    /* background-image: url('../assets/images/background-sigil-gloam-ferris-wheel.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    float: left;
}
.fifth-banner {
    height: 100vh;
    width: 100%;
    /* background-image: url('../assets/images/background-sigil-combat.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}
.sixth-banner {
    height: 100vh;
    width: 100%;
    /* background-image: url('../assets/images/background-sigil-character-line-up.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.left-padding {
    padding-left: 25px;
    margin-bottom: 5px !important;
    text-align: left !important;
}
.second-left-padding {
    padding-left: 50px;
    margin: 0px !important;
    text-align: left !important;
}
.forth-banner {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
}
.color-black {
    color: #000;
}
.color-white {
    color: #fff;
}
.forth-inner {
    align-items: flex-end;
    justify-content: flex-end;
}
.avatar-image {
    width: 22vw;
    margin: 0px !important;
}
.avatar-inner-image {
    width: 55vw;
    margin: 0px !important;
}
.avatar-side {
    width: 75vw;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
}
.wheel-sub-div {
    width: 35vw;
    font-size: 25px;
    letter-spacing: 0.1em;
}
.footer-section {
    padding: 2vw 2vw;
    overflow-x: hidden;
    padding-bottom: 12vw !important;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}
.first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.second-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin-top: 2vw;
}
.sign-up {
    width: 46vw;
    padding: 1vw;
    font-size: 18px;
    font-weight: 900;
    background-color: rgba(255, 230, 135);
    margin: 0px !important;
}
.submit-btn {
    width: 20vw;
    margin-left: 2vw;
}
.submit-ic:hover {
    padding: 1.2vw 1.2vw !important;
}
.submit-ic {
    width: 19vw;
    background-color: rgba(55, 59, 77, 1);
    padding: 1vw;
    color: #fff;
    font-size: 17px;
    border: 0px;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
}
.discord-image {
    width: 20vw;
    margin-left: 5vw;
}
.discord-icon {
    width: 100%;
}
.footer-inner {
    width: 31.33vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.submission-text {
    font-size: 18px;
    width: 100%;
    color: green;
}
.albedo-logo {
    width: 13vw;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    margin: 0px !important;
}
.justify-content-end {
    justify-content: flex-end;
}
.cmf-logo {
    margin: 0px;
    width: 20vw;
}
figure.social-icons {
    margin: 0px 1vw;
    width: 3vw;
    cursor: pointer;
}
.social-icons img:hover {
    width: 3.4vw !important;
}

/* media query for extra-wide screen */

@media only screen and (min-width: 2200px) {
    .wheel-sub-div {
        font-size: 45px !important;
    }
    .banner-head-text {
        font-size: 45px !important;
    }
    .banner-sub-text {
        font-size: 40px !important;
    }
    .mobile-head {
        font-size: 45px !important;
    }
    .mobile-sub-head {
        font-size: 35px !important;
    }
    .sign-up {
        font-size: 25px !important;
    }
    .submit-ic {
        font-size: 25px !important;
    }
    .submission-text {
        font-size: 25px !important;
    }
}

/* media query for wide screen */

@media only screen and (min-width: 1366px) {
    .container {
        max-width: 1400px !important;
    }
}

/* media query for normal screen */

@media only screen and (min-width: 700px) and (max-width: 1365px) {
    .container {
        max-width: 1200px !important;
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        max-width: 100% !important;
    }
    .mobile-sub-div {
        width: 100% !important;
    }
    .mobile-head {
        font-size: 30px !important;
    }
    .mobile-sub-head {
        font-size: 14px !important;
    }
    .home-banner {
        background-position: center;
    }
    .third-banner {
        background-position: center;
    }
    .fifth-banner {
        background-position: center;
    }
    .sixth-banner {
        background-position: center;
    }
    .second-banner {
        background-position: center;
    }
    .banner-head-text {
        font-size: 20px !important;
    }
    .banner-sub-text {
        font-size: 14px !important;
    }
    .wheel-sub-div {
        width: 35vw !important;
        font-size: 14px !important;
    }
    .avatar-image {
        width: 30vw !important;
    }
    .avatar-side {
        width: 70vw !important;
    }
    .sign-up {
        font-size: 7px !important;
    }
    .submit-ic {
        font-size: 10px !important;
    }
    .submission-text {
        font-size: 7px !important;
    }
}

/* media query for mobile */

@media only screen and (max-width: 680px) {
    .jack-img-class {
        width: 60vw !important;
    }
    .head-right {
        width: 45vw !important;
        margin-left: -35vw !important;
    }
    .mobile-image {
        width: 50vw !important;
    }
    .wheel-sub-div {
        width: 60vw !important;
        font-size: 14px !important;
    }
    .mobile-sub-head {
        font-size: 14px !important;
    }
    .mobile-head {
        font-size: 16px !important;
    }
    .mobile-side {
        margin-left: 0px !important;
    }
    .left-padding {
        width: 75vw !important;
    }
    .second-left-padding {
        width: 75vw !important;
    }
    .banner-height {
        overflow-x: hidden;
        width: 100vw;
    }
    .second-section-div {
        flex-wrap: wrap;
    }
    .mobile-side {
        width: 55vw !important;
    }

    /* .third-banner{
        align-items: flex-end !important;
        justify-content: center !important;
    } */
    .fifth-banner {
        align-items: flex-end !important;
        justify-content: center !important;
    }
    .forth-inner {
        align-items: flex-start !important;
        justify-content: center !important;
    }
    .avatar-inner-image {
        width: 75vw !important;
        order: 1;
    }
    .avatar-text {
        order: 2;
    }
    .wheel-sub-head {
        text-align: center;
    }
    .avatar-image {
        width: 23vw !important;
    }
    .avatar-side {
        justify-content: flex-start;
    }
    .footer-section {
        /* padding-bottom: 30vw !important; */
    }
    .third-banner .wheel-sub-div {
        width: 55vw !important;
    }
    .forth-banner .wheel-sub-div {
        margin-top: 15vw;
        width: 55vw !important;
        margin-left: -5vw;
    }
    .fifth-banner .wheel-sub-div {
        width: 55vw !important;
    }
    .sign-up {
        width: 55vw !important;
    }
    .discord-image {
        margin: 0px !important;
    }
    .first-section {
        flex-wrap: wrap;
    }
    .first-item {
        order: 1;
    }
    .second-item {
        order: 2;
    }
    .third-item {
        order: 3;
    }
    .forth-item {
        order: 4;
    }
    .fifth-item {
        order: 5;
    }
    .footer-section {
        justify-content: center;
    }
    .second-section {
        flex-wrap: wrap;
    }
    .footer-inner {
        width: 100vw;
        margin-top: 2vw;
        justify-content: center;
    }
    .submission-text {
        text-align: center;
    }
    .submission-text {
        font-size: 10px !important;
    }
    .discord-image {
        margin-top: 4vw !important;
    }
    .sign-up {
        font-size: 10px !important;
    }
    .albedo-logo {
        width: 25vw !important;
    }
    .cmf-logo {
        width: 35vw !important;
    }
    .social-icons {
        width: 7vw !important;
    }
    .social-icons img:hover {
        width: 7.4vw !important;
    }
    .submit-btn {
        display: flex;
        align-items: center;
    }
}

@keyframes waveUpDown {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}
